@model Clinique2000_Core.ViewModels.ApprobationVM

@if (Model.Param == "clinique")
{
    @foreach (var item in Model.ApprobationCliniquesVM.Cliniques)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomClinique)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courriel)
            </td>
            <td>
                @{
                    string addresse = $"{item.Adresse.Numero} {item.Adresse.Rue}, {item.Adresse.Ville}, {item.Adresse.Province}, {item.Adresse.Pays}, {item.Adresse.CodePostal}";
                }
                @Html.DisplayFor(modelItem => addresse)
            </td>
            <td>
                <a class="btn btn-success btn-circle btn-sm" asp-action="ApprobationClinique" asp-route-id="@item.CliniqueID"><i class="fa-solid fa-check"></i></a>
                <a class="btn btn-info btn-circle btn-sm" asp-area="Cliniques" asp-controller="Cliniques" asp-action="Details" asp-route-id="@item.CliniqueID"><i class="fa-solid fa-info fa-lg"></i></a>
                <a class="btn btn-danger btn-circle btn-sm" asp-action="RefuserClinique" asp-route-id="@item.CliniqueID"> <i class="fas fa-xmark"></i></a>
            </td>
        </tr>
    }
}
@if (Model.Param == "utilisateur")
{
    @foreach (var item in Model.ApprobationUtilisateursVM.Utilisateurs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-success btn-circle btn-sm" asp-action="ApprobationUtilisateur" asp-route-id="@item.Id"><i class="fa-solid fa-check"></i></a>
                <a class="btn btn-info btn-circle btn-sm" asp-area="Cliniques" asp-controller="Cliniques" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-info fa-lg"></i></a>
                <a class="btn btn-danger btn-circle btn-sm" asp-action="RefuserUtilisateur" asp-route-id="@item.Id"> <i class="fas fa-xmark"></i></a>
            </td>
        </tr>
    }
}
@if (Model.Param == "cliniquesrefusees")
{
    @foreach (var item in Model.ApprobationCliniquesRefuseesVM.CliniquesRefusees)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CliniqueID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomClinique)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courriel)
            </td>
            <td>
                @{
                    string addresse = $"{item.Adresse.Numero} {item.Adresse.Rue}, {item.Adresse.Ville}, {item.Adresse.Province}, {item.Adresse.Pays}, {item.Adresse.CodePostal}";
                }
                @Html.DisplayFor(modelItem => addresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModification)
            </td>
        </tr>
    }
}