@model ListeAttente;
@{
    Layout = "_Layout";
}

@{
    var isOuverteSelectList = new SelectList(new[]
    {
        new { Value = "true", Text = "Oui" },
        new { Value = "false", Text = "Non" }
    }, "Value", "Text");
}


<link rel="stylesheet" href="/js/site.js">
<div class="container">
    <main role="main" class="pb-3 ">
        <div class="container-fluid">
            <div class="row justify-content-around ">
                <div class="col col-lg-10 col-xl-9">

                    <div>
                        <h1 class="h0 text-center" style="margin-top:50px;" >Créer une liste d'attente</h1>
                        <div class="divider-2 mb-3 "></div><!--devider linear gradient cian-->

                        <p class="p1">
                            Veuillez compléter ces informations <br />
                            <span class="p3" style="color:black">Les champs marqués d'un astérisque (<span class ="champs-obligatoires">*</span>) doivent être renseignés.</span>
                        </p>
                    </div>

                    <form asp-area="Cliniques" enctype="multipart/form-data" asp-controller="ListeAttente" asp-action="Create" method="post" class="m-4">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-3">
                            <label asp-for="IsOuverte" class="form-label">Disponible pour réservation<span class="champs-obligatoires"> *</span></label>
                            @Html.DropDownListFor(model => model.IsOuverte, isOuverteSelectList, new { @class = "form-control" })
                            <span asp-validation-for="IsOuverte" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="DateEffectivite" class="form-label">Date d'effectivité<span class="champs-obligatoires"> *</span></label>
                            <input min="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" asp-for="DateEffectivite" class="form-control form-control-lg">
                            <span asp-validation-for="DateEffectivite" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="HeureOuverture" class="form-label">Heure d'ouverture<span class="champs-obligatoires"> *</span></label>
                            <input type="time" asp-for="HeureOuverture" class="form-control form-control-lg" id="heureOuverture">
                            <span asp-validation-for="HeureOuverture" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3" id="heureFermetureContainer" style="display:none;">
                            <label asp-for="HeureFermeture" class="form-label">Heure de fermeture<span class="champs-obligatoires"> *</span></label>
                            <input type="time" asp-for="HeureFermeture" id="heureFermeture" min="" class="form-control form-control-lg">
                            <span asp-validation-for="HeureFermeture" class="text-danger"></span>
                        </div>



                        <div class="form-group mb-3">
                            <label asp-for="NbMedecinsDispo" class="form-label">Nombre de médecins disponibles<span class="champs-obligatoires"> *</span></label>
                            <input type="number" asp-for="NbMedecinsDispo" class="form-control form-control-lg" min="0" placeholder="Entrez le nombre de médecins disponibles">
                            <span asp-validation-for="NbMedecinsDispo" class="text-danger"></span>
                        </div>

                      @*   <div class="form-group mb-3">
                            <label asp-for="CliniqueID" class="form-label">ID de votre clinique :</label>
                            <input type="number" asp-for="CliniqueID" class="form-control form-control-lg" min="0" placeholder="Entrez l'ID de votre clinique">
                            <span asp-validation-for="CliniqueID" class="text-danger"></span>
                        </div> *@
                        @* <input type="hidden">@Model.CliniqueID</input> *@

                        <button type="submit" class="btn-create btn-lg">Créer</button>
                        <button type="reset" class="btn-reinitialiser btn-lg">Réinitialiser</button>
                    </form>

                @*     @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <ul>
                                @foreach (var error in ViewData.ModelState.Values.SelectMany(modelState => modelState.Errors))
                                {
                                    <li>@error.ErrorMessage</li>
                                }
                            </ul>
                        </div>
                    } *@

                    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
                    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

                 

              
                </div>
            </div>
        </div>
    </main>
</div>
