@model Clinique2000_Core.ViewModels.ListeAttenteVM

<section id="heroDetails" class="d-flex align-items-center justify-content-center mb-2">
    <div class="listeattente-data">
        <div class="row d-flex mb-2 justify-content-center align-content-center text-center">
            <div class="col-md-12 mt-5">
                <h1 class="text-center justify-content-center">Liste d'attente</h1>
            </div>
        </div>
        <div class="container-fluid heure-medecins">
            <div class="heureActuelle card-details">
                <p>Heure Actuelle</p>
                <div id="watch"></div>
            </div>
            <div class="card-details"><p>Nombre de médecins: <div id="nb-medecins-dispo">@Model.ListeAttente.NbMedecinsDispo</div></p></div>
        </div>

        <div class="heure-date-liste">
            <div class="card-details">
                <p>Effective le: </p>
                <div id="date-effectivite">
                    @Model.ListeAttente.DateEffectivite.ToString("yyyy-MM-dd")
                </div>
            </div>

            <div class="card-details"><p>Ouvre à: </p><div id="heure-ouverture">@Model.ListeAttente.HeureOuverture.ToString("hh\\:mm")</div></div>
            <div class="card-details"><p>Ferme à: </p><div id="heure-fermeture">@Model.ListeAttente.HeureFermeture.ToString("hh\\:mm")</div></div>
        </div>

        <div class="generer-plages-horaires">
            <form class="my-3" asp-action="AjouterDesPlagesHoraires" asp-controller="ListeAttente" method="post">
                <input type="hidden" name="id" value="@Model.ListeAttente.ListeAttenteID" />
                <input id="btn-ph" type="submit" value="Generer plages horaire" class="btn btn-success btn-action" @(Model.PlagesHoraires?.Count > 0 ? "disabled" : "") /> 
            </form>
            <button class="btn btn-secondaire btn-action my-3" asp-action="Index" asp-controller="Home" asp-area="">Retour à l'accueil</button>
        </div>
    </div>
</section>


@if (!ViewData.ModelState.IsValid)
{
    <div class="validation-error-box" style="margin-top: 20px; background-color: #ffdddd; border-left: 6px solid #f44336; padding: 15px;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
}

<div class="container mt-3">
    <div class="liste-attente-info mb-0 mt-2">
        <div>
            <partial name="_PartialAjouterDesPlagesHoraires" for="@Model.PlagesHoraires" />
        </div>
    </div>
</div>

<script>
    function actualiserHeure() {
        var now = new Date();
        var hour = ('0' + now.getHours()).slice(-2) + ':' + ('0' + now.getMinutes()).slice(-2);
        document.getElementById('watch').innerText = hour;
    }

    setInterval(actualiserHeure, 1000);
    actualiserHeure();
</script>
