 @model Clinique2000_Core.Models.ListeAttente

<section id="heroDetails" class=" d-flex align-items-center justify-content-center mb-2">


    <div class="container listeattente-data ">
        <div class="row mb-2 ms-2 justify-content-start align-content-center">
            <div class="col-md-12 ms-3 mt-5">
                <h1 class="ps-5" >Liste d'attente </h1> @* @Model.DateEffectivite.DayOfWeek *@
            </div>
        </div>
        <div class="row ps-5 ms-2 mb-2 justify-content-start align-content-center">
            <div class="col-md-3 ms-3 p-5  text-center justify-content-center align-content-center heureActuelle">
                <p>Heure Actuelle</p>
                <div id="watch"></div>
            </div>
        </div>

        <div class="row my-2 ms-2  justify-content-center align-content-center">
            <div class="col-md-3 card-details">
                <p>Effective le: </p>
                 <div id="date-effectivite">
                        @Model.DateEffectivite.ToString("yyyy-MM-dd")
                 </div>
                
            </div>

            <div class="col-md-3 card-details"><p>Ouvre à: </p><div id="heure-ouverture">@Model.HeureOuverture.ToString("hh\\:mm")</div></div>
            <div class="col-md-3 card-details"><p>Ferme à: </p><div id="heure-fermeture">@Model.HeureFermeture.ToString("hh\\:mm")</div></div>
          @*<div class="col-md-3 card-details"><p>Nombre de médecins disponibles: <div id="nb-medecins-dispo">@Model.NbMedecinsDispo</div></p></div>*@
        </div>

        <div class="row m-2 ps-5  justify-content-end  align-content-center">
            <form class="my-3 justify-content-end " asp-action="AjouterDesPlagesHorairesl" asp-controller="ListeAttente" method="post">
                <input type="hidden" name="id" value="@Model.ListeAttenteID" />
                <input type="submit" value="Generer plages horaire" class="btn btn-success btn-action"
                @(Model.PlagesHoraires.Count > 0 ? "disabled" : "") />
            </form>
        </div>

    </div>
</section>

<div class="container mt-3">
    <div class="liste-attente-info mb-0  mt-2 ">
        <div>
            @if (Model.PlagesHoraires != null && Model.PlagesHoraires.Count > 0)
            {
                <partial name="_PartialAjouterDesPlagesHoraires" for="@Model.PlagesHoraires"/>
            }
        </div>
    </div>
</div>


<script>
    function actualiserHeure() {
        var now = new Date();
        var hour = ('0' + now.getHours()).slice(-2) + ':' + ('0' + now.getMinutes()).slice(-2);
        document.getElementById('watch').innerText = hour;
    }

    setInterval(actualiserHeure, 1000);
    actualiserHeure(); 
</script>