@model IEnumerable<Clinique2000_Core.Models.ListeAttente>

@{
    ViewData["Title"] = "Historique des listes d'attente";
}

<div class="container mt-5">
    <main role="main" class="pb-3">
        <div class="container-fluid">
            <div style="padding-bottom:2%;" class="row justify-content-between align-items-center mb-3">
                <div class="col">
                    <h2>@ViewData["Title"]</h2>
                </div>
                <div class="col text-end">
                    <button class="smBtn button-green-action" onclick="location.href='@Url.Action("Create")'">Créer une liste d'attente</button>
                    <i onclick="location.href='@Url.Action("index")'" class="my-icon fa-solid fa-file fa-lg"></i>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Date d'effectivité</th>
                        <th>État</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var liste in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => liste.DateEffectivite)</td>
@*                            <td style="color: @(liste.IsOuverte ? "green" : "red");">
                                @(liste.IsOuverte ? "Ouverte" : "Fermée")
                            </td>*@
                            <td >
                                @if (liste.IsOuverte)
                                {
                                    <span class="badge rounded-pill text-bg-success">Ouverte</span>
                                }
                                else
                                {
                                    <span class="badge rounded-pill text-bg-danger">Fermée</span>
                                }
                            </td>
                            <td>

                                @Html.ActionLink("Détails","Details","ListeAttente", new { controller = "Listeattente", Action = "details", id = liste.ListeAttenteID }, new { @class = "smBtn button-white-action" })
                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</div>
