@model Clinique

@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h1>Details</h1>

        <div>
            <h4>Clinique</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NomClinique)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NomClinique)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Courriel)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Courriel)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NumTelephone)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NumTelephone)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.HeureOuverture)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.HeureOuverture)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.HeureFermeture)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.HeureFermeture)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TempsMoyenConsultation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TempsMoyenConsultation)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EstActive)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EstActive)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Adresse)
                </dt>
                <dd class="col-sm-10">
                    @{
                        // Concatène toutes les propriétés pertinentes de l'objet Adresse en une chaîne de caractères.
                        string concatenatedAddress = $"{Model.Adresse.Numero} {Model.Adresse.Rue}, {Model.Adresse.Ville}, {Model.Adresse.Province}, {Model.Adresse.Pays}, {Model.Adresse.CodePostal}";

                        // Afficher la chaîne concaténée
                        @Html.DisplayFor(model => concatenatedAddress)
                    }
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.CliniqueID" class="btn btn-create form-control">Edit</a> |
            <a asp-action="Index" class="btn-reinitialiser">Back to List</a>
        </div>
    </div>
    <div class="col-2"></div>
</div>

