@model IEnumerable<Clinique2000_Core.Models.Clinique>

@{
    ViewData["Title"] = "Index";
}

<div class="container " style="margin-top:50px">
    <h1 class="text-center">>Liste des cliniques</h1>

    <div class="row">
        <div class="col-md-6" style="display: flex;margin:20px 0">
            <p>
                <a asp-action="Create" class="btn btn-create form-control" style="width:auto">Créer un nouveau patient</a>
            </p>
        </div>
    </div>
    <div class="table-responsive-sm mx-auto">
        <table class="table stripe hover order-column  " id="dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NomClinique)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Courriel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HeureOuverture)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HeureFermeture)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TempsMoyenConsultation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Adresse)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomClinique)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Courriel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HeureOuverture)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HeureFermeture)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TempsMoyenConsultation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adresse.CodePostal)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.CliniqueID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.CliniqueID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.CliniqueID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
