@model IEnumerable<CliniqueDistanceVM>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1 class="text-center" style="margin: 50px 0">Liste de Cliniques</h1>

    <div class="table-responsive-sm mx-auto">
        <table class="table stripe hover order-column" id="dataTableDistance">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Clinique.NomClinique)</th>
                    <th>@Html.DisplayNameFor(model => model.Clinique.HeureOuverture)</th>
                    <th>@Html.DisplayNameFor(model => model.Clinique.HeureFermeture)</th>
                    <th>@Html.DisplayNameFor(model => model.Clinique.EstActive)</th>
                    <th>@Html.DisplayNameFor(model => model.Distance)</th>
                    <th>@Html.DisplayNameFor(model => model.Clinique.Adresse)</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var listeAttenteId = item.Clinique.ListeAttente.Where(x => x.CliniqueID == item.Clinique.CliniqueID && x.IsOuverte).FirstOrDefault()?.ListeAttenteID;
                    string concatenatedAddress = $"{item.Clinique.Adresse.Numero} {item.Clinique.Adresse.Rue}, {item.Clinique.Adresse.Ville}, {item.Clinique.Adresse.Province}, {item.Clinique.Adresse.Pays}, {item.Clinique.Adresse.CodePostal}";

                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Clinique.NomClinique)</td>
                        <td>@Html.DisplayFor(modelItem => item.Clinique.HeureOuverture)</td>
                        <td>@Html.DisplayFor(modelItem => item.Clinique.HeureFermeture)</td>
                        <td>@Html.DisplayFor(modelItem => item.Clinique.EstActive)</td>
                        <td>@Html.DisplayFor(modelItem => item.Distance) Km</td>
                        <td>@concatenatedAddress</td>
                        <td class="clinic-row" data-clinic-id="@item.Clinique.CliniqueID">
                            @if (listeAttenteId != null)
                            {
                                <a asp-area="Cliniques" asp-controller="ListeAttente" asp-action="Details" asp-route-id="@listeAttenteId" class="btn btn-secondaire btn-sm" style="width:auto">Voir la liste d'attente</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div id="waitingListsContainer"></div>
