@model List<Clinique2000_Core.Models.Clinique>

@{
    ViewData["Title"] = "Approbations";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="margin-container-index">
    <h1 class="text-center">Liste de cliniques</h1>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-6" style="display: flex;margin:20px 0">
            <a asp-action="Create" class=" button-green-action form-control" style="width:auto">Ajouter une clinique</a>
        </div>
    </div>
    <div class="row" >
        <div class="col-1">
        </div>
        <div class="col-10">
            <div class="card mb-4">
                <div class="card-header card-header-datatables h4 text-light">
                    <i class="fa-solid fa-hospital-user me-1" style="color: #fff;"></i>
                    Cliniques en attente d'approbation'
                </div>
                <div class="card-body">
                    <div class="table-responsive mx-auto">
                        <table class="table  hover order-column  " id="dataTable">
                            <thead>
                                <tr>
                                    <th>
                                        Nom de la Clinique
                                    </th>
                                    <th>
                                        Courriel
                                    </th>
                                    <th>
                                        Heure d'ouverture
                                    </th>
                                    <th>
                                        Heure de fermeture
                                    </th>
                                    <th>
                                        Temps Moyen de Consultation
                                    </th>
                                 
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var clinique in Model)
                                {
                                    <tr>
                                        <td>
                                            @clinique.NomClinique
                                        </td>
                                        <td>
                                            @clinique.Courriel
                                        </td>
                                        <td>
                                            @clinique.HeureOuverture
                                        </td>
                                        <td>
                                            @clinique.HeureFermeture
                                        </td>
                                        <td>
                                            @clinique.TempsMoyenConsultation
                                        </td>
                                 
                                        <td class="" style="width: 100px;">
                                            <button class="button-green-action smBtn" asp-action="" asp-route-id="@clinique.CliniqueID"></button> @* a modifier *@
                                            <button class="button-red-action smBtn" asp-action="" asp-route-id="@clinique.CliniqueID"></button> @* a modifier *@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>