 @model Clinique2000_Core.Models.ListeAttente


<div class="container">
   

    

    <div id="heroDetails" class="container">

        <div  id="mask"></div>

        <div class="row  justify-content-center align-content-center">
            <div class="col-md-4">
                <div id="watch">
                </div>
                <hr>
                <h4>@Model.DateEffectivite.DayOfWeek</h4>
                
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p>Effective le: <div id="date-effectivite">@Model.DateEffectivite.ToString("yyyy-MM-dd")</div></p>
                <p>Heure de fermeture: <div id="heure-fermeture">@Model.HeureFermeture.ToString("hh\\:mm")</div></p>
                <p>Heure d'ouverture: <div id="heure-ouverture">@Model.HeureOuverture.ToString("hh\\:mm")</div></p>

                <p>Nombre de médecins disponibles: <div id="nb-medecins-dispo">@Model.NbMedecinsDispo</div></p>
                <form class="my-3" asp-action="AjouterDesPlagesHorairesl" asp-controller="ListeAttente" method="post">
                    <input type="hidden" name="id" value="@Model.ListeAttenteID" />
                    <input type="submit" value="Generar Plages Horaires" class="btn btn-success" />
                </form>
            </div>
            
       </div>

        
    </div>
     
  
 



    <div class="liste-attente-info mb-0 ">
       @*  <p>Date d'effectivité: <span id="date-effectivite">@Model.DateEffectivite.ToString("yyyy-MM-dd")</span></p>
        <p>Heure de fermeture: <span id="heure-fermeture">@Model.HeureFermeture.ToString("hh\\:mm")</span></p>
        <p>Heure d'ouverture: <span id="heure-ouverture">@Model.HeureOuverture.ToString("hh\\:mm")</span></p>
      
        <p>Nombre de médecins disponibles: <span id="nb-medecins-dispo">@Model.NbMedecinsDispo</span></p> *@
     

        <div>
            @if (Model.PlagesHoraires != null && Model.PlagesHoraires.Count > 0)
            {
                <partial name="_PartialAjouterDesPlagesHoraires" for="@Model.PlagesHoraires" />

            }
        </div>
    </div>
</div>
<script>
    function actualiserHeure() {
        var now = new Date();
        var hour = ('0' + now.getHours()).slice(-2) + ':' + ('0' + now.getMinutes()).slice(-2);
        document.getElementById('watch').innerText = hour;
    }

    setInterval(actualiserHeure, 1000);
    actualiserHeure(); // Inicializa la hora inmediatamente
</script>