@model IEnumerable<Clinique2000_Core.Models.ListeAttente>

@{
    // ViewData["Title"] = "ListeAttenteDetails";
}
 
<div class="container mt-5">
    <main role="main" class="pb-3 ">
        <div class="container-fluid">
            <div class="row justify-content-around text-left">
                <div class="col col-lg-10 col-xl-9">
<h2>Index</h2>

<p>
    @Html.ActionLink("Creer une Liste d'attente", "Create")
</p>

@foreach (var liste in Model)
{
    <div>
       @*  <h4>ListeAttente</h4>
        <hr /> *@
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DateEffectivite)
            </dt>

            <dd>
                @Html.DisplayFor(model => liste.DateEffectivite)
            </dd>


        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = liste.ListeAttenteID }) |
        @Html.ActionLink("Details", "Details", new { id = liste.ListeAttenteID }) |
        @Html.ActionLink("Delete", "Delete", new { id = liste.ListeAttenteID })
    </p>
}
                </div>
            </div>
        </div>
</main>
</div>