@*@using System.Security.Claims

@{
    ViewData["Title"] = "Home Page";
    var isAuthenticated = Context.User.Identity.IsAuthenticated;
    var userEmail = isAuthenticated ? Context.User.FindFirst(ClaimTypes.Email)?.Value : null;
    var userName = User.Identity.Name;
}

@if (isAuthenticated)
{
    <li class="nav-item mx-3">
        <div class="p1 welcome"> <span class="text-light">Welcome : </span>@userName</div>
    </li>
    <li class="nav-item mx-3">
        <a asp-area="Patients" asp-controller="Home" asp-action="Logout" class="p1 pb-0">
                <i class="fa-solid fa-right-from-bracket fa-flip-horizontal"></i>
                OUT
        </a>
    </li>
}
else
{
    <li class="nav-item mx-3">
        <a class="p1" id="login" asp-area="Patients" asp-controller="Home" asp-action="Login">
            IN
            <i class="fa-solid fa-right-to-bracket"></i>
        </a>
    </li>
}
*@

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav align-items-baseline">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item mx-3">
            <div class="p1 welcome"> <span class="text-light">Bienvenue : </span>@User.Identity?.Name!</div>
        </li>
@*        <li class="nav-item">
            <a  id="manage" class="p1 welcome" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>*@
        <li class="nav-item mx-3">
            <form id="logoutForm" class="form-horizontal" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="btn btn-outline-light btn-floating" style="border:none" >
                    <i class="fa-solid fa-right-from-bracket fa-flip-horizontal"></i>
                    Déconnexion
                </button>
            </form>
        </li>
    }
    else
    {
@*        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>*@
        <li class="nav-item mx-3">
            <form id="external-account" asp-area="Identity" asp-page="/Account/ExternalLogin" asp-route-returnUrl="@Url.Content("~/")" method="post" class="form-horizontal">
                <div>
                    <button type="submit" class="btn btn-outline-light btn-floating" style="border:none" name="provider" value="Google" title="Log in using your Google account">
                        Connexion
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </button>
                </div>

            </form>
        </li>
    }
</ul>