
@model IEnumerable<Clinique2000_Core.Models.Consultation>

@{
    ViewData["Title"] = "Index de consultations";
}




<div class="container " style="margin-top:50px">
    <h1 class="text-center">Liste de consultations</h1>

   @* <div class="row">
        <div class="col-md-6" style="display: flex;margin:20px 0">
            <p>
                <a asp-action="Create" class="btn btn-create form-control" style="width:auto">Créer un nouveau patient</a>
            </p>
        </div>
    </div>*@
    <div class="table-responsive-sm mx-auto">
        <table class="table stripe hover order-column  " id="dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PlageHoraire.ListeAttente.DateEffectivite)
                    </th>
                    <th>
                        Medecin
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Patient.NAM)
                        @*@Html.DisplayNameFor(model => model.Medecin)*@
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PlageHoraire.HeureDebut)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.HeureDateFinPrevue)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.StatutConsultation)
                    </th>
                    <th>
                        Salle
                        @*@Html.DisplayNameFor(model => model.Age)*@
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlageHoraire.ListeAttente.DateEffectivite)
                        </td>
                        <td>
                            Carlos Perez
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Patient.NAM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlageHoraire.HeureDebut)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.HeureDateFinPrevue)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.StatutConsultation)
                        </td>
                        <td>
                            A
                            @*@Html.DisplayFor(modelItem => item.DateDeNaissance)*@
                        </td>
                       @* <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>*@
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ConsultationID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ConsultationID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ConsultationID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

