@model Clinique

@{
    ViewData["Title"] = "Details";
}

<div class="container" style="max-width: 1080px;">
    <h1 class="text-center" style="margin-top: 50px;">Details</h1>

    <div>
        <h4>Clinique : @Model.NomClinique</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.NomClinique)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.NomClinique)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Courriel)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Courriel)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.HeureOuverture)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.HeureOuverture)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.HeureFermeture)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.HeureFermeture)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.TempsMoyenConsultation)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TempsMoyenConsultation)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.EstActive)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EstActive)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Adresse.Rue)
                @Html.DisplayNameFor( model => model.Adresse.Ville)
                @Html.DisplayNameFor(model => model.Adresse.Province)
                @Html.DisplayNameFor( model => model.Adresse.CodePostal)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayNameFor(model => model.Adresse.Rue)
                @Html.DisplayNameFor( model => model.Adresse.Ville)
                @Html.DisplayNameFor(model => model.Adresse.Province)
                @Html.DisplayNameFor( model => model.Adresse.CodePostal)
            </dd>
           
        </dl>
    </div>
    <div style="margin-bottom: 50px;">
        <a asp-action="Index" class="btn-reinitialiser">Back to List</a>
    </div>
</div>