@*@model IEnumerable<Clinique>

@{
    ViewData["Title"] = "Index";
}

<div class="container " style="margin-top:50px">
    <h1 class="text-center">Liste de Cliniques</h1>


    <div class="table-responsive-sm mx-auto">
        <table class="table stripe hover order-column  " id="dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NomClinique)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TempsMoyenConsultation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Adresse.Ville)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Adresse.CodePostal)
                    </th>
                   
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomClinique)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TempsMoyenConsultation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adresse.Ville)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adresse.CodePostal)
                        </td>
                       

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>*@

@model IEnumerable<Clinique>

@{
    ViewData["Title"] = "Index";
}

<div class="container" style="margin-top: 50px">
    <h1 class="text-center">Liste de Cliniques</h1>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.NomClinique)</h5>
                        <p class="card-text text-start">Temps Moyen Consultation: @Html.DisplayFor(modelItem => item.TempsMoyenConsultation)</p>
                        <p class="card-text">Ville: @Html.DisplayFor(modelItem => item.Adresse.Ville)</p>
                        <p class="card-text">Code Postal: @Html.DisplayFor(modelItem => item.Adresse.CodePostal)</p>
                        <div>
                            <a asp-action="Details" asp-route-id="@item.CliniqueID" class="btn btn-create form-control" style="width:auto">Details</a> |
                            <a asp-controller="ListeAttente" asp-action="Details" asp-route-id="@item.CliniqueID" class="btn btn-create form-control" style="width:auto">Fill d'attente'</a> 
                        </div>
                    </div>
                </div>
            </div>

           
        }
    </div>
</div>
