@model Patient

@{
    ViewData["Title"] = "Details";
    var btnText = "Modifier";
}

<div class="container" style="max-width: 1080px; margin-top: 50px;">
    <h1 class="text-center">Details</h1>

    <div>
        <h4>Patient : @Model.Nom, @Model.Prenom</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nom)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nom)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Prenom)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Prenom)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Genre)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.NAM)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.NAM)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CodePostal)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CodePostal)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DateDeNaissance)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DateDeNaissance)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Age)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.UserId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.UserId)
            </dd>
        </dl>
    </div>
    <div>
        <div class="row justify-content-center text-center">
            <div class="col col-md-8 col-xl-6 mb-2 mt-4">
                <a asp-action="Edit" asp-route-id="@Model?.PatientId" class="button-green-action form-control" style="width:auto">@btnText</a>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col col-md-8 col-xl-6 mb-4 mt-2">
                <a asp-action="Index" class="smBtn button-white-action">Retour à la liste</a>
            </div>
        </div>
    </div>
</div>