@inject Clinique2000_Services.IServices.IClinique2000Services _service;
@using System.Security.Claims;

@model Patient

@{
    ViewData["Title"] = "Details";
    var btnText = "Modifier";
}

<div class="layout-content">

    <!-- Content -->
    <div class="container flex-grow-1 container-p-y">

        <!-- Header -->
        <div class="row align-items-center mt-5">
            <div class="col-9">
                <div class="row align-items-center">
                    <div class="col-2">
                        <img src="/images/avatargenerique.png" alt="" class="w-75 rounded-circle">
                    </div>
                    <div class="col-10">
                        <h2>@Model.Nom @Model.Prenom</h2>
                    </div>
                </div>
            </div>

        </div>

        <!-- Header -->
        <div class="row">
            <div class="col">
                <!-- Info -->
                <div class="card mb-4">
                    <div class="card-header p-3">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="mt-2">Vos informations</h4>
                            </div>
                            <div class="col-4 text-end">
                                <a asp-action="Edit" asp-route-id="@Model?.PatientId" class="button-white-action form-control" style="width:auto"><i class="fa-solid fa-user-pen fa fa-xl"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <dl class="row p-4">
                            <dt class="col-sm-3 hr5">
                                @Html.DisplayNameFor(model => model.Nom)
                            </dt>
                            <dd class="col-sm-9 p1">
                                @Html.DisplayFor(model => model.Nom)
                            </dd>
                            <dt class="col-sm-3 hr5">
                                @Html.DisplayNameFor(model => model.Prenom)
                            </dt>
                            <dd class="col-sm-9 p1">
                                @Html.DisplayFor(model => model.Prenom)
                            </dd>
                            <dt class="col-sm-3 hr5">
                                @Html.DisplayNameFor(model => model.Genre)
                            </dt>
                            <dd class="col-sm-9 p1">
                                @Html.DisplayFor(model => model.Genre)
                            </dd>
                            <dt class="col-sm-3 hr5">
                                @Html.DisplayNameFor(model => model.NAM)
                            </dt>
                            <dd class="col-sm-9 p1">
                                @Html.DisplayFor(model => model.NAM)
                            </dd>
                            <dt class="col-sm-3 hr5">
                                @Html.DisplayNameFor(model => model.CodePostal)
                            </dt>
                            <dd class="col-sm-9 p1">
                                @Html.DisplayFor(model => model.CodePostal)
                            </dd>
                            <dt class="col-sm-3 hr5">
                                @Html.DisplayNameFor(model => model.DateDeNaissance)
                            </dt>
                            <dd class="col-sm-9 p1">
                                @Html.DisplayFor(model => model.DateDeNaissance)
                            </dd>
                            <dt class="col-sm-3 hr5">
                                @Html.DisplayNameFor(model => model.Age)
                            </dt>
                            <dd class="col-sm-9 p1">
                                @Html.DisplayFor(model => model.Age)
                            </dd>
                            <dt class="col-sm-3 hr5">
                                @Html.DisplayNameFor(model => model.UserId)
                            </dt>
                            <dd class="col-sm-9 p1">
                                @Html.DisplayFor(model => model.UserId)
                            </dd>
                        </dl>
                    </div>

                </div>
            </div>
            <div class="col-xl-4">

                <div class="card mb-4">
                    <div class="card-header">
                        <h4 class="mt-2">Prochain rendez-vous</h4>
                    </div>
                    @{
                        var consultation = @Model.Consultations.Where(x => x.PatientID == Model.PatientId && x.StatutConsultation == Clinique2000_Utility.Enum.StatutConsultation.EnAttente).FirstOrDefault();
                        if (consultation != null)
                        {
                            <div class="card-body">
                                <h4 class="">Clinique : @consultation.PlageHoraire.ListeAttente.Clinique.NomClinique </h4>
                                <table class="table table-borderless p1">
                                    <tbody>
                                        <tr>
                                            <td><i class="fa-solid fa-calendar fa-lg icons-details-patient"></i></td>
                                            <td>@consultation.HeureDateDebutPrevue.ToShortDateString()</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa-solid fa-clock fa-lg icons-details-patient"></i></td>
                                            <td>@consultation.HeureDateDebutPrevue.ToShortTimeString()</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa-solid fa-user-doctor fa-lg icons-details-patient"></i></td>
                                            <td>Medicin</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa-solid fa-star-of-life fa-lg icons-details-patient"></i></td>
                                            <td>@consultation.StatutConsultation</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row justify-content-center text-center">
                                <div class="col col-md-8 col-xl-6 mb-4">
                                    <partial name="_AnnulationVuePartielle.cshtml" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card-body" style="height:200px;">
                                <h5 class="card-title"> Vous n'avez pas de rendez-vous prévu </h5>
                                <p class="p1"></p>
                                <div class="row justify-content-center">
                                    <div class="col-8">
                                        <a asp-area="Cliniques" asp-controller="Cliniques" asp-action="IndexCliniquesAProximite" class="button-blue-action ms-0 px-3">
                                            Prendre un Rendez-Vous
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="card mb-4">
                    @{
                        var consultationHist = @Model.Consultations.Where(x => x.PatientID == Model.PatientId && x.StatutConsultation == Clinique2000_Utility.Enum.StatutConsultation.Termine).Take(5);
                    }
                    <div class="card-header">
                        <h4 class="mt-2">Historique du rendez-vous</h4>
                    </div>
                    @if (consultationHist.Count() > 0)
                    {
                        <div class="card-header">
                            <p class="mb-2">
                                Vous y trouverez l'historique de vos consultations.
                            </p>
                        </div>
                        <div class="card-body">
                            <table class="table p1 text-center">
                                <thead class="ms-5">
                                    <tr>
                                        <th scope="col" class=""><i class="fa-solid fa-calendar fa-lg icons-details-patient"></i></th>
                                        <th scope="col" class=""><i class="fa-solid fa-clock fa-lg icons-details-patient"></i></th>
                                        <th scope="col" class=""><i class="fa-solid fa-user-doctor fa-lg icons-details-patient"></i></th>
                                        <th scope="col" class=""><i class="fa-solid fa-star-of-life fa-lg icons-details-patient"></i></th>
                                    </tr>
                                </thead>
                                <tbody class="">
                                    @foreach (var item in consultationHist)
                                    {
                                        <tr>
                                            <td>@item.HeureDateDebutReele.ToString()</td>
                                            <td>@item.HeureDateFinReele.ToString()</td>
                                            <td>medicin</td>
                                            <td>@item.StatutConsultation</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    }
                    else
                    {
                        <div class="card-body">
                            <p class="mb-2 p1 text-start">
                                La liste historique des consultations est actuellement vide. Vous n'avez eu aucune consultation jusqu'à présent.
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>

        <!-- DataTable for PatientACharge -->
        <div class="row">
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header p-3" >
                        <div class=" row align-items-center ">
                            <div class="col-9">
                                <h4 class="mt-2 text-start">Patients à charge</h4>
                            </div>
                            <div class="col-3 d-flex justify-content-end align-items-center">
                                <a asp-action="Create" asp-controller="PatientACharge" class=" button-white-action"><i class="fa-solid fa-user-plus fa fa-xl"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="patientAChargeTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Genre</th>
                                    <th>Age</th>
                                    <!-- Add more columns as needed -->
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Populate table rows with data -->
                                @foreach (var patient in Model.PatientsACharge)
                                {
                                    <tr>
                                        <td>@patient.Prenom @patient.Nom</td>
                                        <td>@patient.Genre</td>
                                        <td>@patient.Age ans</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

</div>

<!-- Initialize DataTable -->
<script>
    $(document).ready(function () {
        $('#patientAChargeTable').DataTable();
    });
</script>
