@model Patient
@using Clinique2000_Utility.Enum;

@{
    var btnText = "Enregistrer les modifications";
    ViewData["Title"] = "Modifier le profil";
}

<div class="container-fluid">
    <div class="row justify-content-around text-center" style="margin-bottom:40px">
        <div class="col col-lg-10 col-xl-9">
            <div>
                <h1 class="h0" style="margin-top:50px">Renseignements Obligatoires</h1>
                <div class="divider-2 mb-3 "></div><!--devider linear gradient cian-->

                <p class="p1">
                    Veuillez compléter ces informations <br />
                    <span class="p3">Les champs marqués d'un astérisque (<span class="champs-obligatoires">*</span>) doivent être renseignés.</span>
                </p>
            </div>

            <!--Form de modifier patient-->
            <form asp-controller="Patients" asp-action="Edit" method="post" enctype="multipart/form-data" class="text-start p1">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!--region input Hidden-->
                <input asp-for="@Model.UserId" class="form-control" type="hidden" />
                <input asp-for="@Model.PatientId" class="form-control" type="hidden" />
                <input asp-for="@Model.Courriel" class="form-control" type="hidden" />


                <!--Nom Patient-->
                <div class="row justify-content-center">
                    <div class="col col-md-8 col-lg-7 col-xl-6 ">
                        <label asp-for="@Model.Nom" class="form-label mt-3 mb-1">Nom<span style="color:red"> *</span></label>
                        <input type="text" class="form-control form-control-lg capitalize-first-letter" asp-for="@Model.Nom" id="nomPatient" placeholder="Exemple: Jhon">
                        <span asp-validation-for="@Model.Nom" class="text-danger"></span>
                    </div>
                </div>

                <!--Prenom Patient-->
                <div class="row justify-content-center">
                    <div class="col col-md-8 col-lg-7 col-xl-6 ">
                        <label asp-for="@Model.Prenom" class="form-label mt-3 mb-1">Prénom<span style="color:red"> *</span></label>
                        <input type="text" class="form-control form-control-lg capitalize-first-letter" asp-for="@Model.Prenom" placeholder="Exemple: Smith">
                        <span asp-validation-for="@Model.Prenom" class="text-danger"></span>
                    </div>
                </div>

                <!--Genre-->
                <div class="row justify-content-center">
                    <div class="col col-md-8 col-lg-7 col-xl-6">
                        <label asp-for="@Model.Genre" class="form-label mt-3 mb-1">Genre<span style="color:red"> *</span></label>
                        <select class="form-select form-select-lg" asp-for="@Model.Genre" aria-label="Genre">
                            <option selected value="">Choisissez parmi les options proposées</option>
                            <option selected value="Féminine">Féminine</option>
                            <option selected value="Masculin">Masculin</option>
                        </select>
                        <span asp-validation-for="@Model.Genre" class="text-danger"></span>
                    </div>
                </div>

                <!--NAM-->
                <div class="row justify-content-center">
                    <div class="col col-md-8 col-lg-7 col-xl-6 ">
                        <label asp-for="@Model.NAM" class="form-label mt-3 mb-1">Numéro d'assurances maladie<span class="champs-obligatoires"> *</span></label>
                        <input type="text" class="form-control form-control-lg" asp-for="@Model.NAM" placeholder="Exemple: CULA 12345678">
                        <span asp-validation-for="@Model.NAM" class="text-danger"></span>
                    </div>
                </div>

                <!--La date de naissance-->
                <div class="row justify-content-center">
                    <div class="col col-md-8 col-lg-7 col-xl-6 ">
                        <label asp-for="@Model.DateDeNaissance" class="form-label mt-3 mb-1">Date de naissance<span class="champs-obligatoires"> *</span></label>
                        <input id="DateDeNaissance" class="form-control form-control-lg" asp-for="@Model.DateDeNaissance" type="date" min="1900-01-01" max="@DateTime.Now.AddYears(-14).ToString("yyyy-MM-dd")">
                        <span asp-validation-for="@Model.DateDeNaissance" class="text-danger"></span>
                    </div>
                </div>

                <!--Code Postal-->
                <div class="row justify-content-center">
                    <div class="col col-md-8 col-lg-7 col-xl-6 ">
                        <label asp-for="@Model.CodePostal" class="form-label mt-3 mb-1">Code postal<span class="champs-obligatoires"> *</span></label>
                        <input type="text" class="form-control form-control-lg" asp-for="@Model.CodePostal" placeholder="Exemple: J4K 2T4">
                        <span asp-validation-for="@Model.CodePostal" class="text-danger"></span>
                    </div>
                </div>

                <!-- NumeroTelephone -->
                <div class="row justify-content-center">
                    <div class="col col-md-8 col-lg-7 col-xl-6">
                        <label asp-for="@Model.NumTelephone" class="form-label mt-3 mb-1">Numéro de téléphone</label>
                        <input type="tel" class="form-control form-control-lg" asp-for="@Model.NumTelephone" aria-label="Numéro de téléphone">
                        <span asp-validation-for="@Model.NumTelephone" class="text-danger"></span>
                    </div>
                </div>

                <!-- PreferenceNotification -->
                <div class="row justify-content-center">
                    <div class="col col-md-8 col-lg-7 col-xl-6">
                        <label asp-for="@Model.preferenceNotification" class="form-label mt-3 mb-1">Préférence pour notifications</label>
                        <select class="form-select form-select-lg" asp-for="@Model.preferenceNotification" aria-label="Préférence pour notifications">
                            <option selected value="">Choisissez parmi les options proposées</option>
                            @foreach (var value in Enum.GetValues(typeof(PreferenceNotification)))
                            {
                                <option value="@value">@value</option>
                            }
                        </select>
                        <span asp-validation-for="@Model.preferenceNotification" class="text-danger"></span>
                    </div>
                </div>

                <!--EditBTN-->
                <div class="row justify-content-center text-center">
                    <div class="col col-md-8 col-xl-6 mb-2 mt-4">
                        <partial name="_SubmitButtonPartial" model="@btnText" />
                    </div>
                </div>
                <div class="row justify-content-center text-center">
                    <div class="col col-md-8 col-xl-6 my-2">
                        <partial name="_ResetButtonPartial" />
                    </div>
                </div>
                <div class="row justify-content-center text-center">
                    <div class="col col-md-8 col-xl-6 my-2">
                        <a asp-action="Details" asp-route-id="@Model.PatientId" class="smBtn button-white-action">Retour au profil</a>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

