@model EmployesClinique

@{
    var btnText = "Ajouter l'employé";
    ViewData["Title"] = "Créer un profil";
    var clinicList = ViewData["CliniqueID"] as SelectList;
    var clinicId = ViewData["CliniqueID"] as int?;
}

<div class="container-fluid">
    <div class="row justify-content-around text-center">
        <div class="col col-lg-10 col-xl-9">
            <div>
                <h1 class="h0" style="margin-top:50px">Création d'employé de clinique</h1>
                <h2 style="margin-top:50px; color: red; font-size: 20px; margin-top:30px; margin-bottom: 0px">Renseignements Obligatoires</h2>
                <div class="divider-2 mb-3 "></div><!--devider linear gradient cian-->

                <p class="p1">
                    Veuillez compléter ces informations <br />
                    <span class="p3">Les champs marqués d'un astérisque (<span class="champs-obligatoires">*</span>) doivent être renseignés.</span>
                </p>
            </div>

            <!--Form d'inscription employé clinique-->
            <form asp-controller="EmployesCliniques" asp-action="Create" method="post" enctype="multipart/form-data" class="text-start p1">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                <!--Prenom Employé Clinique-->
                <div class="row justify-content-center">
                    <div class="col col-md-8 col-lg-7 col-xl-6 ">
                        <label asp-for="@Model.EmployeCliniquePrenom" class="form-label mt-3 mb-1">Prénom<span class="champs-obligatoires"> *</span></label>
                        <input type="text" class="form-control form-control-lg capitalize-first-letter" asp-for="@Model.EmployeCliniquePrenom" placeholder="Exemple: John">
                        <span asp-validation-for="@Model.EmployeCliniquePrenom" class="text-danger"></span>
                    </div>
                </div>

                <!--Nom Employé Clinique-->
                <div class="row justify-content-center">
                    <div class="col col-md-8 col-lg-7 col-xl-6 ">
                        <label asp-for="@Model.EmployeCliniqueNom" class="form-label mt-3 mb-1">Nom<span class="champs-obligatoires"> *</span></label>
                        <input type="text" class="form-control form-control-lg capitalize-first-letter" asp-for="@Model.EmployeCliniqueNom" placeholder="Exemple: Smith">
                        <span asp-validation-for="@Model.EmployeCliniqueNom" class="text-danger"></span>
                    </div>
                </div>

                <!--Courriel Employé Clinique-->
                <div class="row justify-content-center">
                    <div class="col col-md-8 col-lg-7 col-xl-6 ">
                        <label asp-for="@Model.EmployeCliniqueCourriel" class="form-label mt-3 mb-1">Courriel<span class="champs-obligatoires"> *</span></label>
                        <input type="email" class="form-control form-control-lg capitalize-first-letter" asp-for="@Model.EmployeCliniqueCourriel" placeholder="Exemple: courriel@gmail.com">
                        <span asp-validation-for="@Model.EmployeCliniqueCourriel" class="text-danger"></span>
                    </div>
                </div>

                <!--Position Employé Clinique-->
                <div class="row justify-content-center">
                    <div class="col col-md-8 col-lg-7 col-xl-6 ">
                        <label asp-for="@Model.EmployeCliniquePosition" class="form-label mt-3 mb-1">Position<span class="champs-obligatoires"> *</span></label>
                        <select asp-for="@Model.EmployeCliniquePosition" class="form-control form-control-lg capitalize-first-letter">
                            <option value="">-- Sélectionnez une position --</option>
                            <option value="Medecin">Medecin</option>
                            <option value="Receptionniste">Receptionniste</option>
                            <option value="Autre">Autre</option>
                        </select>
                        <span asp-validation-for="@Model.EmployeCliniquePosition" class="text-danger"></span>
                    </div>
                </div>



                <!--Clinique Employé Clinique-->
                <div class="row justify-content-center">
                    <div class="col col-md-8 col-lg-7 col-xl-6 ">
                        
                        @if (clinicList != null)
                        {
                            <label asp-for="@Model.CliniqueID" class="form-label mt-3 mb-1">Clinique<span class="champs-obligatoires"> *</span></label>
                            <select asp-for="@Model.CliniqueID" class="form-control form-control-lg capitalize-first-letter">
                                <option value="">-- Sélectionnez une clinique --</option>
                                @foreach (var item in clinicList)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        }
                        else
                        {
                            <input type="hidden" asp-for="@Model.CliniqueID" value="@clinicId" />
                            @*<select asp-for="@Model.CliniqueID" class="form-control form-control-lg capitalize-first-letter">
                                <option value="">-- Sélectionnez une clinique --</option>
                            </select>*@
                        }
                        <span asp-validation-for="@Model.CliniqueID" class="text-danger"></span>
                    </div>
                </div>


                <!--CreateBTN-->
                <div class="row justify-content-center text-center">
                    <div class="col col-md-8 col-xl-6 mb-2 mt-4">
                        <partial name="_SubmitButtonPartial" model="@btnText" />
                    </div>
                </div>
                <div class="row justify-content-center text-center">
                    <div class="col col-md-8 col-xl-6 my-2">
                        <partial name="_ResetButtonPartial" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
