@using Clinique2000_Utility.Enum
@model Clinique2000_Core.ViewModels.EmployesCliniqueVM

@{
    ViewData["Title"] = "Details";
    var btnText = "Modifier";
}

@section Scripts {
    <script src="~/js/shim-nf.js"></script>
}

<div class="container" style="max-width: 1080px; margin-top: 50px;">

    <h1 class="text-center">Tableau de bord</h1>

    <div>
        <h4>
            Bonjour
            @if (Model.EmployesClinique.EmployeCliniquePosition == EmployeCliniquePosition.Medecin)
            {
                <span><span>Dr</span></span>
            }
            @Model.EmployesClinique.EmployeCliniqueNom
        </h4>
    </div>


    <ul class="nav nav-tabs nav-tabs-custom border-bottom-0 mt-3 nav-justfied" role="tablist" style="margin-bottom:10px">
        <li class="nav-item" role="presentation">
            <a class="nav-link px-4 active" data-bs-toggle="tab" href="#patient" role="tab" aria-selected="false" tabindex="-1">
                <span class="d-block d-sm-none"><i class="mdi mdi-menu-open"></i></span>
                <span class="d-none d-sm-block">Consultations</span>

            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link px-4 " href="#myClinique" role="tab">
                <span class="d-block d-sm-none"><i class="mdi mdi-account-group-outline"></i></span>
                <span class="d-none d-sm-block">Ma clinique</span>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link px-4 " href="#info" role="tab">
                <span class="d-block d-sm-none"><i class="mdi mdi-account-group-outline"></i></span>
                <span class="d-none d-sm-block">Mes informations</span>
            </a>
        </li>
    </ul>

    <div class="card">
        <div class="tab-content p-4">
            <div class="tab-pane active show " id="patient" role="tabpanel">
                <h4 class="card-title mb-4">Consultations</h4>           
                <div class="row">
                    <div class="col-xl-12">
                        <div class="task-list-box" id="landing-task">
                            <div id="task-item-1">
                                <div class="card task-box rounded-3">
                                    <div class="card-body">
                                        <div class="row ">

                                            @if (Model.ConsultationEnCours != null)
                                            {
                                                <!-- Section telecharger pdf-->
                                                 <div class="row justify-content-end">                                                  
                                                    <div class="col col-md-4 col-lg-4 col-xl-4 text-end">
                                                        <button id="generatePdfBtn" class="smBtn button-white-action"> Télécharger 
                                                        <i class="fa-solid fa-file-pdf fa-lg ms-2" style="color: #c90d29;"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                                <!-- Profil patient -->
                                               
                                                <div class="row align-items-center justify-content-center mt-5">
                                                    <div class="col col-sm-4 col-md-2 col-lg-2 col-xl-2 ">
                                                        <img src="/images/avatargenerique.png" alt="" class="w-75 rounded-circle">
                                                    </div>
                                                    <div class="col col-md-6 col-lg-6 col-xl-6 ">
                                                        <h2 id="patientName">@Model.ConsultationEnCours.Patient.Nom @Model.ConsultationEnCours.Patient.Prenom</h2>
                                                        <h4 id="patientDateOfBirth">@Model.ConsultationEnCours.Patient.DateDeNaissance.ToShortDateString()</h4>
                                                    </div>
                                                </div>
                                                
                                                <!-- Form DetailsConsultation et btn terminerConsultation -->

                                                <form asp-area="Cliniques" asp-controller="ListeAttente" method="post" id="form2">

                                                    <input type="hidden" name="consultationId" value="@Model.ConsultationEnCours.ConsultationID" />
                                                    <input type="hidden" name="employeCliniqueID" value="@Model.EmployesClinique.EmployeCliniqueID" />

                                                    <div class="row justify-content-center">
                                                        <div class="col col-md-8 col-lg-8 col-xl-8 ">
                                                            <label asp-for="DetailsConsultation.MotifRendezVous" class="form-label mt-3 mb-1"></label>
                                                            <select asp-for="DetailsConsultation.MotifRendezVous" class="form-select form-select-lg capitalize-first-letter" id="motifRendezVous">
                                                                <option value="" class="text-secondary">Choisissez une raison</option>
                                                                @foreach (var motif in Enum.GetValues(typeof(MotifRendezVousMedical)))
                                                                {
                                                                    var displayName = (motif as MotifRendezVousMedical?)?.GetDisplayName();
                                                                    <option value="@motif">@displayName</option>
                                                                }
                                                            </select>
                                                            <span asp-validation-for="DetailsConsultation.MotifRendezVous" class="text-danger"></span>
                                                        </div>
                                                    </div>


                                                    <div class="row justify-content-center">
                                                        <div class="col col-md-8 col-lg-8 col-xl-8 ">
                                                            <label asp-for="DetailsConsultation.Symptomes" class="form-label mt-3 mb-1"></label>
                                                            <input type="text" class="form-control form-control-lg capitalize-first-letter" asp-for="DetailsConsultation.Symptomes" id="symptomes" placeholder="Exemple: Thelin" />
                                                            <span asp-validation-for="DetailsConsultation.Symptomes" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row justify-content-center">
                                                        <div class="col col-md-8 col-lg-8 col-xl-8">
                                                            <label asp-for="DetailsConsultation.Diagnostic" class="form-label mt-3 mb-1"></label>
                                                            <textarea class="form-control form-control-lg capitalize-first-letter summernote" asp-for="DetailsConsultation.Diagnostic" id="diagnostic" rows="3" placeholder="Saisir le diagnostic "></textarea>
                                                            <span asp-validation-for="DetailsConsultation.Diagnostic" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="col col-md-8 col-lg-8 col-xl-8 ">
                                                            <label asp-for="DetailsConsultation.MedicamentsPrescrits" class="form-label mt-3 mb-1"></label>
                                                            <textarea class="form-control form-control-lg capitalize-first-letter summernote" asp-for="DetailsConsultation.MedicamentsPrescrits" id="medicamentsPrescrits" rows="3" placeholder="Proposer les médicaments recommandés "></textarea>
                                                            <span asp-validation-for="DetailsConsultation.MedicamentsPrescrits" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="col col-md-8 col-lg-8 col-xl-8 ">
                                                            <label asp-for="DetailsConsultation.Notes" class="form-label mt-3 mb-1"></label>
                                                            <textarea class="form-control form-control-lg capitalize-first-letter summernote" asp-for="DetailsConsultation.Notes" id="notes" rows="3" placeholder="Renseignements complémentaires"></textarea>
                                                            <span asp-validation-for="DetailsConsultation.Notes" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row justify-content-center">
                                                        <div class="col col-md-8 col-lg-8 col-xl-8 ">
                                                            <label class="form-label mt-3 mb-1">
                                                                <input asp-for="DetailsConsultation.EstAlergique" class="form-check-input" id="estAlergique" />
                                                                <span class="ml-2">Est allergique</span>
                                                            </label>
                                                        </div>
                                                    </div>                                           
                                                    <div class="row justify-content-center mt-3">
                                                        <button type="submit" asp-area="Cliniques" asp-controller="ListeAttente" asp-action="TerminerConsultation" class="button-green-action form-control" style="width:fit-content; margin-right:26px">
                                                            Terminer Consultation
                                                        </button>
                                                        <button type="submit" asp-area="Cliniques" asp-controller="ListeAttente" asp-action="TerminerConsultationEtAppellerProchainPatient" class="button-green-action form-control" style="width:fit-content">
                                                            Terminer et appeler le prochain patient
                                                        </button>
                                                    </div>

                                                </form>
                                                                                                          
                                            }
                                            else if (Model.ProchaineConsultation != null)
                                            {
                                                <!-- Appeler Prochain Patient button -->
                                                <form method="post" asp-area="Cliniques" asp-controller="listeattente" asp-action="AppelerProchainPatient" id="form1">
                                                    <input type="hidden" name="consultationId" value="@Model.ProchaineConsultation.ConsultationID" />
                                                    <input type="hidden" name="employecliniqueID" value="@Model.EmployesClinique.EmployeCliniqueID" />
                                                    <button type="submit" class="button-blue-action form-control" style="width:fit-content">
                                                        Appeler le prochain patient
                                                    </button>
                                                </form>
                                            }
                                            else
                                            {
                                                <div class="row justify-content-center text-center">
                                                    <div class="col col-md-8 col-lg-8 col-xl-8 ">
@*                                                         <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                                                            <span class="visually-hidden">Chargement...</span>
                                                        </div> *@
                                                        <h4 class="text-center mt-5 mb-5">
                                                            Il n'ya pas de patient en attente
                                                        </h4>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab-pane " id="myClinique" role="tabpanel">
                <h4 class="card-title mb-4">
                    Ma clinique :
                    @if (Model.MesCliniques != null && Model.MesCliniques.Any())
                    {
                        <a asp-action="Details" asp-route-id="@Model.MesCliniques.First().CliniqueID">
                            @Html.DisplayFor(modelItem => Model.MesCliniques.First().NomClinique)
                        </a>
                    }
                </h4>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="task-list-box" id="landing-task">
                            <div id="task-item-1">
                                <div class="card task-box rounded-3">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <dl class="row">
                                                <dt class="col-sm-3 mb-2">
                                                    @Html.DisplayNameFor(model => model.EmployesClinique.Clinique.NomClinique)
                                                </dt>
                                                <dd class="col-sm-9" id="clinicName">
                                                    @Html.DisplayFor(model => model.EmployesClinique.Clinique.NomClinique)
                                                </dd>

                                                <dt class="col-sm-3 mb-2">
                                                    @Html.DisplayNameFor(model => model.EmployesClinique.Clinique.NumTelephone)
                                                </dt>
                                                <dd class="col-sm-9">
                                                    @Html.DisplayFor(model => model.EmployesClinique.Clinique.NumTelephone)
                                                </dd>

                                                <dt class="col-sm-3 mb-2">
                                                    @Html.DisplayNameFor(model => model.EmployesClinique.Clinique.HeureOuverture)
                                                </dt>
                                                <dd class="col-sm-9">
                                                    @Html.DisplayFor(model => model.EmployesClinique.Clinique.HeureOuverture)
                                                </dd>

                                                <dt class="col-sm-3 mb-2">
                                                    @Html.DisplayNameFor(model => model.EmployesClinique.Clinique.HeureFermeture)
                                                </dt>
                                                <dd class="col-sm-9">
                                                    @Html.DisplayFor(model => model.EmployesClinique.Clinique.HeureFermeture)
                                                </dd>

                                                <dt class="col-sm-3 mb-2">
                                                    @Html.DisplayNameFor(model => model.EmployesClinique.Clinique.Adresse)
                                                </dt>

                                                <dd class="col-sm-9">
                                                    @{
                                                        string concatenatedAddress = $"{Model.EmployesClinique.Clinique.Adresse.Numero} {Model.EmployesClinique.Clinique.Adresse.Rue}, {Model.EmployesClinique.Clinique.Adresse.Ville}, {Model.EmployesClinique.Clinique.Adresse.Province}, {Model.EmployesClinique.Clinique.Adresse.CodePostal}";
                                                        @Html.DisplayFor(model => concatenatedAddress)
                                                    }
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab-pane " id="info" role="tabpanel">
                <h4 class="card-title mb-4">Mes informations</h4>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="task-list-box" id="landing-task">
                            <div id="task-item-1">
                                <div class="card task-box rounded-3">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <dl class="row">
                                                <dt class="col-sm-2">
                                                    @Html.DisplayNameFor(model => model.EmployesClinique.EmployeCliniqueNom)
                                                </dt>
                                                <dd class="col-sm-10" id="doctorName">
                                                    @Html.DisplayFor(model => model.EmployesClinique.EmployeCliniqueNom)
                                                </dd>
                                                <dt class="col-sm-2">
                                                    @Html.DisplayNameFor(model => model.EmployesClinique.EmployeCliniquePrenom)
                                                </dt>
                                                <dd class="col-sm-10">
                                                    @Html.DisplayFor(model => model.EmployesClinique.EmployeCliniquePrenom)
                                                </dd>
                                                <dt class="col-sm-2">
                                                    @Html.DisplayNameFor(model => model.EmployesClinique.EmployeCliniqueCourriel)
                                                </dt>
                                                <dd class="col-sm-10">
                                                    @Html.DisplayFor(model => model.EmployesClinique.EmployeCliniqueCourriel)
                                                </dd>
                                                <dt class="col-sm-2">
                                                    @Html.DisplayNameFor(model => model.EmployesClinique.EmployeCliniquePosition)
                                                </dt>
                                                <dd class="col-sm-10">
                                                    @Html.DisplayFor(model => model.EmployesClinique.EmployeCliniquePosition)
                                                </dd>

                                            </dl>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center text-center" style="margin-bottom: 20px">
                                        <div class="col col-md-8 col-xl-6 mb-2 mt-2">
                                            <a asp-controller="EmployesCliniques" asp-action="Edit" asp-route-id="@Model?.EmployesClinique.EmployeCliniqueID" class="button-green-action form-control" style="width:auto">@btnText</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>

        <div class="row justify-content-center text-center">
            <div class="col col-md-8 col-xl-6 mb-4 mt-2">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="smBtn button-white-action">Retour à la liste</a>
            </div>
        </div>
    </div>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tabs = document.querySelectorAll('.nav-link');
        var tabContents = document.querySelectorAll('.tab-pane');

        tabs.forEach(function (tab) {
            tab.addEventListener('click', function (event) {
                event.preventDefault();
                tabs.forEach(function (t) {
                    t.classList.remove('active');
                });
                tab.classList.add('active');

                var currentTabId = tab.getAttribute('href').substring(1);

                tabContents.forEach(function (content) {
                    content.classList.remove('active', 'show');
                });

                var activeTabContent = document.getElementById(currentTabId);
                activeTabContent.classList.add('active', 'show');

                //window.scrollTo({
                //    top: 0,
                //    behavior: 'smooth'
                //});
            });
        });
    });

if (@(Model.ConsultationEnCours != null ? "true" : "false")) {
    document.getElementById('generatePdfBtn').addEventListener('click', function () {


        //Vérifier si ConsultationEnCours est différent de null


            var cliniqueNom = '@Html.Raw(Model.EmployesClinique.Clinique.NomClinique)';
            var cliniqueNumTelephone = '@Html.Raw(Model.EmployesClinique.Clinique.NumTelephone)';
            var cliniqueAdresse = '@Html.Raw(Model.EmployesClinique.Clinique.Adresse.Numero + " " + Model.EmployesClinique.Clinique.Adresse.Rue + " " + Model.EmployesClinique.Clinique.Adresse.CodePostal)';
            var patientNom = '@(Model.ConsultationEnCours != null && Model.ConsultationEnCours.Patient != null ? Model.ConsultationEnCours.Patient.Nom : "")';
            var patientPrenom = '@(Model.ConsultationEnCours != null && Model.ConsultationEnCours.Patient != null ? Html.Raw(Model.ConsultationEnCours.Patient.Prenom) : "")';
            var patientDateNaissance = '@(Model.ConsultationEnCours != null && Model.ConsultationEnCours.Patient != null ? Model.ConsultationEnCours.Patient.DateDeNaissance.ToString("dd/MM/yyyy") : "")';
            var employeCliniquePrenom = '@Html.Raw(Model.EmployesClinique.EmployeCliniquePrenom)';
            var employeCliniqueNom = '@Html.Raw(Model.EmployesClinique.EmployeCliniqueNom)';

                var motifRendezVous = getDisplayName(document.getElementById('motifRendezVous').value);
            var diagnostic = stripHtmlTags(document.getElementById('diagnostic').value);
            var symptomes = stripHtmlTags(document.getElementById('symptomes').value);
            var medicamentsPrescrits = stripHtmlTags(document.getElementById('medicamentsPrescrits').value);
            var estAlergique = document.getElementById('estAlergique').checked;
            var notes = stripHtmlTags(document.getElementById('notes').value);

            generateDetailsConsultationPdf(diagnostic, symptomes, medicamentsPrescrits, notes, cliniqueNom, cliniqueNumTelephone, cliniqueAdresse, patientNom, patientPrenom, patientDateNaissance, employeCliniquePrenom, employeCliniqueNom, motifRendezVous, estAlergique);
        
        });
} 
else {
    console.log("ConsultationEnCours est nul. L'événement de génération de PDF ne sera pas déclenché.");
}
</script>



<style>
    body {
        background: #f7f8fa
    }

    .card {
        margin-bottom: 20px;
        -webkit-box-shadow: 0 2px 3px #eaedf2;
        box-shadow: 0 2px 3px #eaedf2;
    }

    .pb-0 {
        padding-bottom: 0 !important;
    }

    .font-size-16 {
        font-size: 16px !important;
    }

    .bg-soft-primary {
        background-color: rgba(3,142,220,.15) !important;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .nav-tabs-custom .nav-item .nav-link.active {
        color: #038edc;
        background: white
    }

    .nav-tabs-custom .nav-item .nav-link {
        border: none;
    }



    .border-end {
        border-right: 1px solid #eff0f2 !important;
    }

    .d-inline-block {
        display: inline-block !important;
    }

    .nav-tabs-custom .nav-item {
        position: relative;
        color: #343a40;
    }

        .nav-tabs-custom .nav-item .nav-link.active:after {
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        .nav-tabs-custom .nav-item .nav-link::after {
            content: "";
            background: #038edc;
            height: 2px;
            position: absolute;
            width: 100%;
            left: 0;
            bottom: -2px;
            -webkit-transition: all 250ms ease 0s;
            transition: all 250ms ease 0s;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
</style>